.head-container, footer{
    background-color: lightgreen;
    display: flex;
    justify-content: space-around;
    color: white;
}

.head-container nav, form{
    margin-top: 30px;
}

.head-container a, label{
    vertical-align: middle;
    padding: 0em 0em 0em 5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
}

.head-container a:hover{
    color: darkgreen;
}

.head-container a:visited{
    color: lightblue;
}