.scrolling-wrapper{
    overflow-x: scroll;
    white-space: nowrap;
    .card {
        display: inline-block;
    }
}

nav{
    background-color: #D4E0B1;
}

body{
    position: relative;
    min-height: 100vh;
}

main h2{
    margin-top: 5em;
}

#search-button{
    background-color: rgb(190, 190, 190);
    color: white;
    border: transparent;
}

#search-button:hover{
    background-color: grey;
    color: white;
    border: transparent;
}

.yellow-buttons{
    background-color: #fff672;
    border-color: transparent;
    color: black;
}

.yellow-buttons:hover{
    background-color: #fbec13;
    border-color: transparent;
    color: black;
}

#footer-home{
    border:solid;
    border-color: transparent;
    background-color: #D4E0B1;
    width: 100%;
}

#footer-login{
    width: 100%;
    background-color: #D4E0B1;
    text-align: center;
    position: absolute;
    bottom: 0;
}
